*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .9);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.logo{
    width: 620px;
    max-width: 95vw;
    margin-bottom: 25px;
}
span{
    font-size: 25px;
    color: white;
}
div{
    font-size: 25px;
    color: white;
}
main.container-input{
    flex-direction: column;
    width: 500px;
    max-width: 90vw;
}
.slider{
    -webkit-appearance: none;
    border-radius: 5px;
    background-color: rgb(180, 179, 179);
    width: 500px;
    max-width: 90vw;
    padding: 3px;
    margin: 0 auto;
    margin-bottom: 10px;
}
#button{
    justify-content: center;
    background-color: green;
    display: block;
    margin: auto;
    width: 500px;
    max-width: 90vw;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    border: none;
    cursor:pointer;
}
.container-password{
    width: 500px;
    max-width: 90vw;
    margin: 0 auto;
    margin-top: 20px;
}
#tittle{
    margin-bottom: 5px;

}
#password{
    padding: 10px;
    background-color: rgba(0, 0, 0, .5);
    width: 500px;
    max-width: 90vw;
    text-align: center;
    border-radius: 5px;
    margin: auto;
    border: 1px solid rgba(255, 255, 255, 0.308);
    transition: transform 0.5s;
}
#password:hover{
    transform: scale(1.05);
}
#tooltip{
    text-align: center;
    margin: auto;
    padding: 5px 0px;
    width: 408px;
    max-width: 70vw;
    background-color: rgba(0, 0, 0, .4);
    border-radius: 5px;
    margin-top: 10px;
    font-size: 18px;
    visibility: hidden;
}
#password:hover ~ #tooltip{
    visibility: visible;
}
.hide{
    visibility: hidden;
}
